@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
#hiddenElement {
    display: none;
}
.nav-logo-img img{
    width: 160px;
}
*{
    padding: 0;margin: 0;
    font-family: 'Nunito', sans-serif;
}
.navbar{
    background-color: #4f4f4f17;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;

    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.nav-logo{

    font-size: 20px;
}
.hello{
    margin-top: 50px;
}
.hello h1{
    font-weight: bolder;
    color: #82001a;
    font-size: 25px;
}
#barcodeResult{
    padding: auto;
    margin:auto;
    border: none;
    color: #82001a;
    padding: 20px;
    font-size: 40px;
}
#showHideBtn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: #82001a;
}